<div class="tab tab1 ">
    <div>
        <p>
            Hello, my name is Kaushik Samanta.<br>
            Here are some things that describe me :
        </p>
        <ul>
            <li>
                All Things Tech : Interests ranging from Digital Electronics to AI to Machine Learning
            </li>
            <li>
                Stack Overflow
            </li>
            <li>
                Open-Source
            </li>
            <li>
                Quora
            </li>
            <li>
                Food
            </li>
            <li>
                Music
            </li>
        </ul>
    </div>

</div>
